* {
    margin: 0;
    Padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}





.container{
    top:10px;
    display:flex;
    height: 100vh;
}

.half{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;


}
.c1 {
    background-color:#ffe8d6;

}
.c1 h1{
    color:  #333;;
    font-family: "Fira Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;


}



.text {
    color:#333;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text h1 {

    font-size:3.3rem;
    font-weight: bold;
    margin-bottom: 20px;

}

.text h2 {

    font-size: 1.8rem;
    font-weight: bolder;
    margin-bottom: 10px;
}

.text p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: bold;
}

.btnentree{
    padding: 15px 40px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    border: 0;
    color: #333;
    background: transparent ;
    position: relative;
    margin: 20px;
    transition: all .25s;

}

.btnentree::after,.btnentree::before{
    border: 3px solid #333;
    content: '';
    position: absolute;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
    transition: all .25s;

}

.btnentree:hover::after{
    transform: translate(-5px, -5px);
}
.btnentree:hover::before{
    transform: translate(5px, 5px);
}

.c1,
.c2 {
    flex: 1;}

.c2 {

    background-color: rgb(250, 252, 253);
    display: flex;
    align-items: center;
    justify-content: center;
}
#centeredImage {

    border-radius: 10px;
    max-width: 85%;
    max-height: 70%;
    margin-top: 10%;

    box-shadow: 0 0 10px rgba(124, 117, 117, 0.1);
}




#btn1 {
    padding-top: 5px;
    padding-bottom: 5px;
    right: 180px;
}

#btn2 {
    padding-top: 5px;
    padding-bottom: 5px;
    right: 30px;
}

#imglogo {
    position: absolute;
    bottom: 88%;
    right:88%;

    border-radius: 3%;
    width: 150px;


}



.btn-7 {

    position: absolute;
    top:20px;
    right:0;
    margin-right: 15px;;
    border-radius: 15px;
    border: none;
    background-color: #ffe8d6;
    font-size: 2.3vh;
    padding: 0.5vw 1.2vw;
    color: #333;
    font-weight: bold;
    line-height: 42px;
    z-index: 1;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.btn-7:hover {
    background: transparent;
    color: #ffe8d6;
}
.btn-7:before,
.btn-7:after {
    border-radius: 60px;
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 50%;
    right: 0;
    z-index: -1;
    background: #ffe8d6;
    transition: all 0.3s ease;
}
.btn-7:before {
    top: 0;
}
.btn-7:after {
    bottom: 0;
}
.btn-7:hover:before,
.btn-7:hover:after {
    height: 0;
    background-color: #ffe8d6;
}


@media (max-width: 900px) {
    body {
        margin: 0;
        padding: 0;
    }
    .container {





        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .c1,
    .c2 {
        flex: 1;}

    .half {
        width: 100%;
    }
    .btnentree {
        width: 95%;
    }

    #imglogo{
        position: absolute;
        bottom: 90%;
        right: 85%;
        border-radius: 3%;
        width:80px;

    }
    .btn-7:hover {


        color: #716c6c;
    }






}


.text-3{
    font-size: 40px;
    margin: 5px 0;
}
.text-3 span{
    color: rgb(218, 65, 65);
    font-weight: 500;
    font-weight:bolder;
}



.cover-1 {
    background-color: rgb(255, 255, 255);
    top: 10px;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerImage {
    margin-bottom: 20px;
}

.cover-1 h2 {
    margin-top: 20px;
    font-family: 'Varela Round';
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.cover-1 p {
    font-family: 'Rethink Sans';
    color: #333;
    text-align: center;
    font-size: 1.5rem;
    font-weight: lighter;


}

@media (max-width: 700px) {
    .cover-1 {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 470px;
    }

    .cover-1 h1 {
        font-size: 1.8rem;
    }

    .cover-1 p {
        margin-top: 10px;
        font-size: 1.2rem;
    }
}





.cover-2{
    background-color:  #ffe8d6;

}



.containerImage{
    display: inline-block;
    margin-right: 10px;

}

#logonote,
#logocarte,
#logorestau,
#logoFrance,
#logosimple {
    display: flex;
    flex-direction: row;
}

.test{
    display: flex;
    flex-direction: row;
}





h2 {
    color: #333;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px dashed gray;
}
h2 span {
    display: block;
}
h2 span:nth-child(1) {
    font-weight: normal;
    color:#2267AE;
}




.conteneurCarte {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 30px;
    margin: 80px 0;
}
.CarteRetournement{
    position: relative;
    min-height: 350px;
    perspective: 2000px;
    perspective-origin: top;
}


.CarteRetournement:hover .carte {
    transform: rotateY(180deg);
}

.carte {
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.86,0,0.07,1);
    color: white;
    font-weight: bold;
}

.card-front,
.Carteverso {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card-front {
    background:  rgb(218, 65, 65);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.CarteRetournement:nth-child(even) .card-front {
    background-color: #ffe8d6;
}

.card-front p {
    font-size: 25px;
    line-height: 35px;
}

.arrow-icon {
    position: absolute;
    right: 30px;
    bottom: 30px;
}


.Carteverso{
    background: rgb(218, 65, 65);
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;

}
.CarteRetournement:nth-child(even) .Carteverso {
    background-color: #ffe8d6;
}
.Carteverso .TexteVerso h3 {
    font-size: 1.5rem;
    margin-bottom:5%;

    color: #231f1f;
}

.Carteverso a {
    display: inline-block;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: normal;
    font-size: 14px;
    color: #dfe2e9;
    transition:
            background-color 0.3s ease-out,
            color 0.3s ease-out;
}




.CarteRetournement:nth-child(odd) .Carteverso a:hover {
    background-color: #ffe8d6;

}
.CarteRetournement:nth-child(even) .Carteverso a:hover {
    background-color:  rgb(218, 65, 65);

}

.card-image img {
    max-width: 200px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom:10%;
}
.lo-section{
    margin-top:5%;
}


a:link {
    color: #333;
    text-decoration: none;
}


a:visited {
    color: #333;
    text-decoration: none;
}


a:hover {
    color: #555;

}

.static-card .CarteRetournement:hover .carte {
    transform: scale(1.05);
}

.static-card .carte {
    transition: none;
}

.static-card .arrow-icon {
    display: none;
}

.cover-2 .conteneurCarte {
    display: flex;
    justify-content: space-around;
}

.static-card .CarteRetournement,
.static-card .carte,
.static-card .card-front,
.static-card .Carteverso {
    width: 255px;
    height:515px;

}



.static-card .card-image img {
    max-width: 150px;
    width: 100%;
}

.static-card .carte:nth-child(1) .card-front,
.static-card .carte:nth-child(1) .Carteverso,
.static-card .carte:nth-child(2) .card-front,
.static-card .carte:nth-child(2) .Carteverso {
    background-color: #d84141;
}

.static-card .carte:nth-child(1) .card-image img,
.static-card .carte:nth-child(2) .card-image img {
    max-width: 150px;
    width: 100%;
}



@media (max-width: 700px) {
    .static-card .CarteRetournement,
    .static-card .carte,
    .static-card .card-front,
    .static-card .Carteverso {
        width: 100%;
    }

    .static-card .conteneurCarte {
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }
}
